# Ignore all files in folder



# Environment and config
.env

# Python
__pycache__/
*.pyc

# IDE files
.idea/
.DS_Store

# App data
helper_files/*
transcripts/*
recordings/*
transcripts_prefabricated/*